.pointer {
  cursor: pointer;
  outline: none;
}

.disabled {
  // pointer-events: none; // TODO: to be tested
  color: $border-color !important;
  cursor: not-allowed !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.base-link,
.base-link {
  color: $primary-color;
  text-decoration-color: $primary-color;
  cursor: pointer;
  text-decoration-line: none;
}

.ellipsis_6 {
  display: -webkit-box !important;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.bottom-line {
  position: relative;

  &::after {
    @include bottom-line($line-color);
  }
}

.right-line {
  position: relative;

  &::after {
    @include right-line($line-color);
  }
}

.base-button {
  min-width: 80px;
  height: 32px;
}

.icon-color-base {
  color: $icon-color;
}

.row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.el-table th.gutter {
  display: table-cell !important;
}

// reset el-table style
.el-table {
  &::before {
    z-index: 4;
  }

  .caret-wrapper {
    width: 11px;
    margin-left: 1px;

    .sort-caret {
      left: 0px;
    }
  }

  .el-table__fixed {
    height: calc(100% - 6px) !important;
  }

  .el-table__fixed::before {
    height: 0;
  }

  .cell {
    border-bottom: none;

    .type-icon {
      vertical-align: middle;
      margin-right: 4px;
    }

    .scope-title {
      cursor: pointer;
      width: 100%;

      .el-input {
        width: 300px;
        display: inline-block;
      }
    }
  }

  .el-table__fixed-header-wrapper {
    height: 40px;
    border-bottom: 1px solid rgba(228, 231, 237, 1);

    .el-table__header {
      height: 40px;
    }

    .el-table__cell {
      padding: 0;
      height: 40px;
      color: rgba(117, 121, 128, 1);
    }
  }

  .el-table__header-wrapper {
    height: 40px;
    border-bottom: 1px solid rgba(228, 231, 237, 1);

    .el-table__header {
      height: 40px;
    }

    .el-table__cell {
      padding: 0;
      height: 40px;
      color: rgba(117, 121, 128, 1);
    }
  }

  .el-progress-bar {
    width: 210px;

    .el-progress-bar__outer {
      width: 160px;
    }
  }

  .el-table__fixed-body-wrapper {
    width: 102%;

    .el-table__cell {
      border: none;
      height: 54px;
      color: rgba(27, 28, 30, 1);
      font-size: 14px;
      padding: 0;

      .cell {
        line-height: 41px;
        display: flex;
        align-items: center;
      }

      .el-table__expand-icon {
        width: 16px;
        height: 16px;

        .el-icon-arrow-right:before {
          content: '\e791';
        }
      }
    }
  }

  .el-table__body-wrapper {
    width: 102%;

    .el-table__cell {
      border: none;
      height: 54px;
      color: rgba(27, 28, 30, 1);
      font-size: 14px;
      padding: 0;

      .cell {
        line-height: 41px;
        display: flex;
        align-items: center;
      }

      .el-table__expand-icon {
        width: 16px;
        height: 16px;

        .el-icon-arrow-right:before {
          content: '\e791';
        }
      }
    }
  }
}

.el-select .el-input .el-select__caret {
  transform: rotate(0deg);

  &.is-reverse {
    transform: rotate(180deg);
  }
}

// reset dropdown style
.el-dropdown-menu {
  min-width: 140px;
  padding: 2px 0;
  border: 1px solid rgba(228, 231, 237, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);

  .el-dropdown-menu__item {
    height: 40px;
    line-height: 40px;
    padding: 2px 8px;
    color: #1b1c1e;

    &:hover {
      color: #1b1c1e;
      background-color: rgba(248, 249, 250, 1);
    }

    > a {
      display: block;
      text-decoration: none;
      color: #1b1c1e;
    }
  }
}

// Overwrite ElementUI styles
.el-form {
  .el-form-item {
    margin-bottom: $base-gap * 4;

    &.is-required {
      .el-form-item__label {
        &::before {
          content: none;
        }

        &::after {
          content: '*';
          color: #dd2100;
          margin-left: $base-gap;
        }
      }
    }
  }
}

.ee-tabs.el-tabs {
  .el-tabs__header {
    .el-tabs__item {
      &.is-focus {
        box-shadow: none; // Fix tab border hilight issue
      }
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;

  &:hover {
    height: 8px;
  }
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #f0f2f5;

  &:hover {
    background: #f0f2f5;
  }

  &:active {
    background: #f0f2f5;
  }
}

*:hover {
  &::-webkit-scrollbar-thumb {
    background-color: #ccd2db;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #ccd2db;

  &:hover {
    background-color: #ccd2db;
  }

  &:active {
    background: #ccd2db;
  }
}

// 一体式容器边框和圆角
.radius-content {
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-left: 1px solid #e4e7ed;
  border-top: 1px solid #e4e7ed;
}

.left-border-content {
  background-color: #ffffff;
  border-left: 1px solid #e4e7ed;
}
